.item {
	width: 100%;
	height: min-content;
	padding: 0.625rem 1.25rem;
	display: flex;
	align-items: center;
	border-top: 1px solid #e1e3e7;
}

.item.read {
	background-color: #f2f2f2;
}

.image {
	margin-right: 1rem;
}

.message {
	font-size: 1rem;
	letter-spacing: 0.01rem;
	line-height: 1.3rem;
}

.message .name {
	font-weight: 600;
}

.icon {
	margin-left: 2rem;
	transition: transform 100ms;
}

.icon:hover {
	transform: scale(1.15);
}

.icon:active {
	transform: scale(1);
}
