.form {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 300px;
}

.page__visibility {
	position: absolute;
	right: 5px;
	display: flex;
	justify-content: space-between;
}

.page__content {
	appearance: none;
	resize: none;
	width: 100%;
	height: auto;
	border: none;
	border-radius: 5px;
	margin: 10px 0px;
	padding: 5px;
	flex-grow: 3;
	font-size: 18px;
	font-family: inherit;
}

.page__content::placeholder {
	font-size: 22px;
	color: rgb(190, 190, 190);
}
.page__content:focus {
	outline: none;
	border: none;
}

.page__add-ons {
	position: relative;
	width: 100%;
	height: 40px;
	margin-bottom: 10px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.4);
	border-top: 1px solid rgba(0, 0, 0, 0.4);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.page__add-ons h3 {
	color: grey;
}

.add-ons__icons {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.add-ons__icons .icon {
	margin: 0px 10px 0px 5px;
	transition: transform 100ms;
	cursor: pointer;
}

.add-ons__icons .icon:hover {
	transform: scale(1.15);
}

.add-ons__icons .icon:active {
	transform: scale(1);
}

.submit {
	position: relative;
	padding: 5px;
	width: 100%;
	border: none;
	border-radius: 5px;
	background-color: rgba(26, 96, 248, 0.4);
	cursor: pointer;
}

.submit h2 {
	font-size: 30px;
	font-weight: 600;
}
