.feed {
	position: relative; /* changed from fixed */
	width: 600px;
	display: flex;
	flex-direction: column;
}

.action-buttons {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.loader {
	display: flex;
	justify-content: center;
	align-items: center;
}
