.modal {
	position: fixed;
	width: auto;
	height: auto;
	transform: translateY(-50%);
	background-color: transparent;
	border: none;
	/* border-radius: 0px 10px 10px 10px; */
	z-index: 20;
	box-shadow: 3px 3px 7px 0px rgba(0, 0, 0, 0.4);
}

.arrow {
	position: absolute;
	left: -18px;
	/* top: 18px; */
	top: 50%;
	transform: translateY(-50%);
	width: 0;
	height: 0;
	border-top: 18px solid transparent;
	border-bottom: 18px solid transparent;
	border-right: 18px solid rgb(21, 22, 23);
	z-index: inherit;
}

.modal ul {
	list-style-type: none;
}
