.container {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.input {
	border: none;
	border-radius: 22px;
}

.icon {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 20px;
	cursor: pointer;
}
