:root {
	--info-width: 22.75rem;
	--buttons-width: 36rem;
}

.nav {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	min-width: fit-content;
	height: 3.75rem;
	border-bottom: 1px solid #e9e9e9;
	background: white;
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
}

.nav__app-info {
	width: var(--info-width);
	display: flex;
	align-items: center;
	padding-left: 0.25rem;
	margin-right: max(
		calc(50% - calc(var(--info-width) + calc(var(--buttons-width) / 2))),
		0.5rem
	);
}

.app-name {
	box-sizing: border-box;
	flex-shrink: 0;
	white-space: nowrap;
	font-size: 1.75rem;
	font-family: "Orbitron", "Poppins", sans-serif;
	font-weight: 600;
	width: max-content;
	color: black;
	margin-left: 0.5rem;
}

.nav__buttons {
	height: inherit;
	width: var(--buttons-width);
	min-width: 20rem;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-shrink: 0.1;
	margin-right: 0.5rem;
}

.nav__right-container {
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-grow: 2;
	flex-shrink: 2;
}

.nav__user {
	width: min-content;
	height: inherit;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding-right: 0.5rem;
	margin-left: 0.5rem;
}

.nav__user > * {
	margin-left: 1rem;
}

.profile-picture img {
	width: 3rem;
	height: 3rem;
	cursor: pointer;
	transition: filter 300ms;
}

.profile-picture img:hover {
	filter: grayscale();
}
