.icon-button {
	background: none;
	border: none;
	cursor: pointer;
	width: 20%;
	min-width: fit-content;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: none;
	transition: border-bottom 150ms ease-in-out;
}

.icon-button > * {
	transition: transform 150ms;
}

.icon-button > *:active {
	transform: scale(0.9);
}

.icon-button > *:hover {
	transform: scale(1.1);
}

.active {
	border-bottom: 0.15rem solid black;
}
