.icon-button {
	background: none;
	border: none;
	cursor: pointer;
	font-size: 35px;
	transition: transform 75ms;
}

.icon-button:hover {
	transform: scale(1.1);
}

.icon-button:active {
	transform: scale(0.9);
}

.icon-button:visited,
.icon-button:link {
	color: inherit;
}
