.picture__container {
	width: 100%;
	height: fit-content;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.picture__text {
	margin-left: 0.75rem;
	color: #b7b7b7;
	font-size: 1rem;
	white-space: nowrap;
}

.picture__container .icon {
	transition: transform 100ms;
	cursor: pointer;
}

.picture__container .icon:hover {
	transform: scale(1.15);
}

.picture__container .icon:active {
	transform: scale(1);
}
