.form {
	width: 24rem;
	height: fit-content;
	margin-top: 2.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.form > *:not(:last-child) {
	margin-bottom: 1.25rem;
}

.form .submit {
	width: 100%;
	height: 3rem;
	margin: 2rem 0;
	border: none;
	border-radius: 3rem;
	color: white;
	background-color: black;
	border: 3px solid transparent;
	cursor: pointer;
	transition: all 150ms;
}

.submit:hover {
	background-color: rgba(0, 0, 0, 0.85);
	transform: scale(1.03);
}

.submit__text {
	font-size: 1.25rem;
	letter-spacing: 0.05rem;
}

.text {
	font-family: "Poppins", sans-serif;
	font-size: 0.875rem;
	color: #7e7e7e;
}

.text-button {
	font-family: "Poppins", sans-serif;
	font-size: 0.875rem;
	color: black;
}

.text-button:hover {
	cursor: pointer;
	text-decoration: underline;
}

button.submit.disabled-button {
	background-color: #7e7e7e;
	color: #bebebe;
	cursor: wait;
	border: none;
}

button.submit.disabled-button:hover {
	transform: none;
}

.loader {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 1rem;
}

.first-login-text {
	font-family: "Poppins", sans-serif;
	font-size: 1rem;
	color: #7e7e7e;
}
