.feed {
	position: relative;
	min-width: 37.5rem;
	max-width: 37.5rem;
	display: flex;
	flex-direction: column;
}

.action-buttons {
	width: 100%;
	height: fit-content;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.loader {
	display: flex;
	justify-content: center;
	align-items: center;
}

.no-more-items {
	width: 100%;
	color: #a1a1a1;
	font-size: 1.25rem;
	text-align: center;
}
