.container {
	display: flex;
	align-items: center;
	margin-top: 10px;
	height: 3.5rem;
}

.container .user-picture {
	margin: 5px;
}

.container .input__container {
	height: 100%;
	border: 1px solid #e9e9e9;
	border-radius: 18px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-grow: 5;
}

.input__container input {
	flex-grow: 3;
	border: none;
	height: 100%;
	padding: 10px;
	font-size: large;
}
.input__container input::placeholder {
	font-size: large;
}
.input__container input:focus {
	outline: none;
	box-shadow: none;
}

.input__container .icon {
	margin: 3%;
	width: 1.4rem;
	height: 1.4rem;
	transition: transform 150ms;
}

.input__container .icon:hover {
	transform: scale(1.2);
}
