div.new-instance {
	width: 100%;
	min-width: min-content;
	height: 3.75rem;
	border-radius: 4rem;
	border: 1px solid #c2c2c2;
	margin: 0 0.25rem 3rem 0.25rem;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.new-instance__text {
	color: #3b3b3f;
	margin-left: 1rem;
	font-size: 1.25rem;
}
