.header {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.identifiers {
	margin-left: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.identifiers h2 {
	font-size: 20px;
}

.identifiers h5 {
	font-size: 14px;
	color: gray;
}
