.container {
	width: 100%;
	height: calc(100% - 4rem);
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 1rem;
}

.search {
	width: 100%;
	min-width: 13rem;
	height: 3rem;
	margin-bottom: 1.25rem;
}

.contacts {
	height: calc(100% - 4.25rem);
	width: 100%;
}

.contacts__type {
	color: #a2adbd;
	font-size: 1rem;
	font-weight: 500;
	margin-bottom: 0.5rem;
}

.contacts__list {
	width: 100%;
	height: calc(100% - 1.5rem);
	list-style-type: none;
	display: flex;
	flex-direction: column;
}

.no-contacts {
	width: 100%;
	margin-top: 2rem;
	color: #a1a1a1;
	font-size: 1.125rem;
	text-align: center;
}
