.filter-buttons {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	min-width: min-content;
	height: 4rem;
	border-radius: 0.75rem;
	padding: 1rem;
}

.filter-buttons button {
	/* width: calc(100% / 3); */
	/* min-width: 5rem; */
	width: min-content;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;
	border: none;
	cursor: pointer;
	transition: transform 100ms;
}

.filter-buttons button:not(:last-child) {
	margin-right: 0.75rem;
}

.filter-buttons button:hover {
	transform: scale(1.1);
}

.filter-buttons .active {
	background-color: rgb(255, 255, 255);
	border-bottom: 0.1rem solid rgb(186, 186, 186);
}

.filter-type {
	color: #323232;
	font-size: 1rem;
	white-space: nowrap;
	margin-left: 0.25rem;
}
